doctype html
html(ng-app)
	head
	title= title
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
	body
		script
			include script.js
		block content
			div(ng-controller="myCtrl")
				h1= title
				p My Objectives:
				ul
					li(ng-repeat="entry in docs") {{entry.entryData}}
			
			div(ng-controller="expectationCtrl")
				p What are expectations that you have for me?
				ul
					li(ng-repeat="expectation in expectations") {{expectation.entryData}}
				input(type='text' ng-model='text' size=100)
				button.btn(ng-click="okay()") Submit